<div class="font-light text-sm">
    <p class="dark:text-white text-black">Contact</p>
    <div class="grid gap-6 mt-3">
        {{ contact }}
        <div
            class="grid grid-cols-1 items-start md:grid-cols-3 text-neutral-500"
        >
            <div>
                <p class="dark:text-neutral-400 text-neutral-400">
                    {{ social_name }}
                </p>
            </div>
            <div class="md:col-span-2 w-full">
                <p class="dark:text-white text-black">
                    <a
                        class="duration-200 hover:no-underline underline after:content-['_↗']"
                        href="{{contact_link }}"
                        target="_blank"
                        >{{ contact_label }}</a
                    >
                </p>
            </div>
        </div>
        {{ /contact }}
    </div>
</div>
